<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concessionaria</title>
</head>
<body>
    <a href="veiculos/create">Cadastrar</a>
    {{{body}}}
</body>
</html>